/* default classes */
body,html,h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

img,video {
    display: block;
    max-width: 100%;
    height: auto;
}

*,h1,h2,h3,h4,h5,h6,p{
    font-family: Arial, Helvetica, sans-serif;
}



/* default sizing */
nav{
    height: 70px;
}
footer{
    height: 100px;
}



/* utility classes */
.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
} 
.flex-col {
    flex-direction: column;
} 
.block {
    display: block;
}
.border-solid {
    border-style: solid;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-evenly {
    justify-content: space-evenly;
}
.items-center {
    align-items: center;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.text-center{
    text-align: center;
}
.cursor-pointer {
    cursor: pointer;
}
.pointer-events-none{
    pointer-events: none;
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}




/* positioning class */
.top-1\/2{
    top: 50%;
}
.left-1\/2{
    left: 50%;
}
.top-0{
    top:0
}
.left-0{
    left:0
}



/* sizing classes */
.h-full {
    height: 100%;
}
.w-full {
    width: 100%;
}
.w-screen{
    width: 100vw;
}
.h-screen{
    height: 100vh;
}
.w-110{
    width: 110%;
}
.w-120{
    width: 120%;
}




/* border width classes */
.border-2{
    border-width: 2px;
}
.border-4{
    border-width: 4px;
}
.border-8{
    border-width: 8px;
}


/* border radius */
.rounded {
    border-radius: 0.25rem;
}
.rounded-sm {
    border-radius: 0.125rem;
}
.rounded-lg {
    border-radius: 0.5rem;
}
.rounded-xl {
    border-radius: 1rem;
}
.rounded-2xl {
    border-radius: 2rem;
}
.rounded-3xl {
    border-radius: 3rem;
}

/* border colors classes */
.border-main{
    border-color: white;
}
.border-secondary{
    border-color: #c8b237;
}


/* bg colors classes */
.bg-transparent {
    background-color: transparent;
}
.bg-main {
    background-color: white;
}
.bg-secondary {
    background-color: #c8b237;
}


/* text colors classes */
.text-main {
    color: white;
}
.text-secondary {
    color: #c8b237;
}


/* padding classes */
.p-2{
    padding: 0.5rem;
}
.p-4{
    padding: 1rem;
}
.p-8{
    padding: 2rem;
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.px-16 {
    padding-left: 4rem;
    padding-right: 4rem;
}



/* margin classes */
.mt-2{
    margin-top: 0.5rem;
}
.mt-4{
    margin-top: 1rem;
}
.mt-8{
    margin-top: 2rem;
}
.mt-16{
    margin-top: 4rem;
}
.mb-2{
    margin-bottom: 0.5rem;
}
.mb-4{
    margin-bottom: 1rem;
}
.mb-8{
    margin-bottom: 2rem;
}
.mb-16{
    margin-bottom: 4rem;
}
.ml-2{
    margin-left: 0.5rem;
}
.ml-4{
    margin-left: 1rem;
}
.ml-8{
    margin-left: 2rem;
}
.ml-16{
    margin-left: 4rem;
}
.mr-2{
    margin-right: 0.5rem;
}
.mr-4{
    margin-right: 1rem;
}
.mr-8{
    margin-right: 2rem;
}
.mr-16{
    margin-right: 4rem;
}


/* font-sizing */
.text-base{
    font-size: 1rem;
    line-height: 1.5rem;
}
.text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.text-5xl{
    font-size: 3rem;
    line-height: 1;
}
.text-6xl{
    font-size: 3.75rem;
    line-height: 1;
}
.text-7xl{
    font-size: 4.5rem;
    line-height: 1;
}
.text-8xl{
    font-size: 6rem;
    line-height: 1;
}
.text-9xl{
    font-size: 8rem;
    line-height: 1;
}





/* blur classes */
.blur-none{
    filter: blur(0);
}
.blur-sm{
    filter: blur(4px);
}
.blur{
    filter: blur(8px);
}
.blur-md{
    filter: blur(12px);
}
.blur-lg{
    filter: blur(16px);
}
.blur-xl{
    filter: blur(24px);
}
.blur-2xl{
    filter: blur(40px);
}
.blur-3xl{
    filter: blur(64px);
}


/* fit classes */
.object-contain{
    object-fit: contain;
}
.object-cover{
    object-fit: cover;
}
.object-fill{
    object-fit: fill;
}
.object-none{
    object-fit: none;
}
.object-scale-down{
    object-fit: scale-down;
}


/* z-index classes */
.z-0{
    z-index: 0;
}
.z-10{
    z-index: 10;
}
.z-20{
    z-index: 20;
}
.z-30{
    z-index: 30;
}
.z-40{
    z-index: 40;
}
.z-50{
    z-index: 50;
}
.z-auto{
    z-index: auto;
}

/* font weights classes*/
.font-thin{
    font-weight: 100;
}
.font-extralight{
    font-weight: 200;
}
.font-light{
    font-weight: 300;
}
.font-normal{
    font-weight: 400;
}
.font-medium{
    font-weight: 500;
}
.font-semibold{
    font-weight: 600;
}
.font-bold{
    font-weight: 700;
}





/* opacity classes */
.opacity-100{
    opacity: 1;
}
.opacity-0{
    opacity: 0;
}


/* transition classes */
.duration-100 {
    transition-duration: 100ms;
}
.duration-200 {
    transition-duration: 200ms;
}
.delay-50{
    transition-delay: 50ms;
}
.delay-100{
    transition-delay: 100ms;
}
.delay-200{
    transition-delay: 200ms;
}






/* rotation classes */
.rotate--90 {
    transform: rotate(-90deg);
}
.rotate-90 {
    transform: rotate(90deg);
}
.rotate-180 {
    transform: rotate(180deg);
}




/* overflow classes */
.overflow-hidden{
    overflow: hidden;
}
.overflow-auto{
    overflow: auto;
}


















/* custom classes */
.center-absolute{
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.shadow{
    display:block;
    position:relative;
}
.shadow:before{
    display:block;
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    box-shadow: 0 0 15px 20px white inset;

    /* background-image : linear-gradient(to bottom, 
    rgba(255,255,255, 1.000) 0%,
    rgba(255,255,255, 0.981) 10%,
    rgba(255,255,255, 0.963) 13%,
    rgba(255,255,255, 0.925) 15.1%,
    rgba(255,255,255, 0.850) 16.569999999999997%,
    rgba(255,255,255, 0.700) 17.6%,
    rgba(255,255,255, 0.000) 20%,
    
    rgba(255,255,255, 0.000) 80%,
    rgba(255,255,255, 0.700) 82.4%,
    rgba(255,255,255, 0.850) 83.43%,
    rgba(255,255,255, 0.925) 84.9%,
    rgba(255,255,255, 0.963) 87%,
    rgba(255,255,255, 0.981) 90%,
    rgba(255,255,255, 1.000) 100%
                    ); */
}
