.bg-debug-red{
    background-color: red;
}
.bg-debug-green{
    background-color: green;
}
.bg-debug-blue{
    background-color: blue;
}
.bg-debug-aqua{
    background-color: aqua;
}
.bg-debug-violet{
    background-color: violet;
}
.bg-debug-purple{
    background-color: purple;
}