
/* effect style */
.hover-zoom:hover{
    transform: scale(1.01);
}
.hover-zoom-lg:hover{
    transform: scale(1.05);
}
.hover-zoom-xl:hover{
    transform: scale(1.1);
}

.hover-box-glow-secondary:hover{
    box-shadow: 0px 0px 15px rgb(200, 178, 55);
}

.hover-darken:hover{
    filter: brightness(105%);
}









/* label effect v1 */
.input-user:placeholder-shown + label.input-label{
    transform: translate(0%, -50%);
    font-size: var(--font-xl);
    padding-right: 0px;
    transition-delay: 200ms;
}
.input-user:focus + label.input-label{
    transform: translate(-100%, -50%);
    font-size: var(--font-base);
    padding-right: 15px;
    transition-delay: 0ms;
}
.input-user + label.input-label{
    transform: translate(-100%, -50%);
    font-size: var(--font-base);
    padding-right: 15px;
    transition-delay: 0ms;
}

.input-user:placeholder-shown + label.input-label > .text-label{
    transition-delay: 0ms;
    color: #989898;
}
.input-user + label.input-label > .text-label{
    transition-delay: 200ms;
    color: black;
}
.input-user:focus + label.input-label > .text-label{
    transition-delay: 200ms;
    color: black;
}





/* label effect v2 */
.input-user-v2:placeholder-shown + label.input-label-v2{
    transform: translate(0%, -50%);
    font-size: var(--font-xl);
    padding-right: 0px;
}
.input-user-v2:focus + label.input-label-v2{
    transform: translate(0%, -150%);
    font-size: var(--font-2xs);
}
.input-user-v2 + label.input-label-v2{
    transform: translate(0%, -150%);
    font-size: var(--font-2xs);
}

.input-user-v2:placeholder-shown + label.input-label-v2 > .text-label{
    color: #989898;
    font-weight: unset;
}
.input-user-v2 + label.input-label-v2 > .text-label{
    color: black;
    font-weight: bold;
}
.input-user-v2:focus + label.input-label-v2 > .text-label{
    color: black;
    font-weight: bold;
}