.our-jewelries-title{
    aspect-ratio: 1300/430;
}

.yellow-gold-section{
    aspect-ratio: 130/57;
}

.white-gold-section{
    aspect-ratio: 130/57;
}
.item-container{
    aspect-ratio: 260/460;
}
/* .bottom-yellow-items{
    aspect-ratio: 1300/460;
} */

/* 
.item{
    width: 250px;
} */
